In [2]:
import tensorflow as tf
import numpy as np

In [3]:
x_data = np.float32(np.random.rand(2,100))
y_data = np.dot([0.100,0.200],x_data) + 0.300

In [13]:
b = tf.Variable(tf.zeros([1]))
w = tf.Variable(tf.random_uniform([1,2],-1.0,1.0))
y = tf.matmul(w,x_data) + b

In [17]:
loss = tf.reduce_mean(tf.square(y-y_data))
optimizer = tf.train.GradientDescentOptimizer(0.5)
train = optimizer.minimize(loss)

In [20]:
init = tf.global_variables_initializer()

In [21]:
sess = tf.Session()
sess.run(init)

In [23]:
for step in range(0,201):
    sess.run(train)
    if step%20 == 0:
        print(step,sess.run(w),sess.run(b))

0 [[ 0.41213027  0.42342395]] [ 0.01104124]
20 [[ 0.20804259  0.27423736]] [ 0.20261884]
40 [[ 0.13703229  0.22486454]] [ 0.26693907]
60 [[ 0.11264646  0.20838508]] [ 0.2887677]
80 [[ 0.10431024  0.20283839]] [ 0.29618236]
100 [[ 0.10146746  0.2009628 ]] [ 0.29870218]
120 [[ 0.10049931  0.20032693]] [ 0.29955879]
140 [[ 0.10016983  0.20011109]] [ 0.29984999]
160 [[ 0.10005776  0.20003776]] [ 0.29994899]
180 [[ 0.10001962  0.20001282]] [ 0.29998267]
200 [[ 0.10000666  0.20000435]] [ 0.29999411]

In [24]:
matrix1 = tf.constant([[3.,3.]])
matrix2 = tf.constant([[2.],[2.]])

product = tf.matmul(matrix1,matrix2)

In [26]:
sess = tf.Session()
result = sess.run(product)
print(result)
sess.close()

[[ 12.]]

In [33]:
with tf.Session() as sess:
    result = sess.run(product)
    print(result)

[[ 12.]]

In [38]:
state = tf.Variable(0,name='counter')
one = tf.constant(1)
new_value = tf.add(state,one)
update = tf.assign(state,new_value)

init_op = tf.global_variables_initializer()

with tf.Session() as sess:
    sess.run(init_op)
    print(sess.run(state))
    print(sess.run(new_value))
    
    for _ in range(3):
#         sess.run(update)
        print(sess.run(new_value))

0
1
2
3
4

In [42]:
input1 = tf.constant(3.0)
input2 = tf.constant(2.0)
input3 = tf.constant(5.0)
intermed = tf.add(input2,input3)
mul = tf.multiply(input1,intermed)

with tf.Session() as sess:
    result = sess.run([mul,intermed])
    print(result)

[21.0, 7.0]

In [45]:
input1 = tf.placeholder(tf.float32)
input2 = tf.placeholder(tf.float32)
output = tf.multiply(input1,input2)
with tf.Session() as sess:
    print(sess.run([output],feed_dict={input1:[7.],input2:[2.]}))

[array([ 14.], dtype=float32)]

In [46]:
import pandas as pd

In [49]:
a = pd.DataFrame([[1,2,3],[3,2,4],[]])

In [56]:
b = pd.concat([a,a],axis=0)
b = pd.DataFrame(np.array(b),columns=['a','b','c'])

In [59]:
b

     a    b    c
0  1.0  2.0  3.0
1  3.0  2.0  4.0
2  NaN  NaN  NaN
3  1.0  2.0  3.0
4  3.0  2.0  4.0
5  NaN  NaN  NaN